html, body {
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Alegreya', serif;
    font-size: 14pt;
    background: white;
    background: -moz-linear-gradient(left, white, white) repeat-y, #909098;
    background: -webkit-linear-gradient(left, white, white) repeat-y, #909098;
    background: -o-linear-gradient(left, white, white) repeat-y, #909098;
    background: linear-gradient(to left, white, white) repeat-y, #909098;
}

[hidden] { display: none !important; visibility: hidden !important; }

#whatis {
    text-align: right;
    margin-right: 20px;
    margin-top: 8px;
    text-transform: lowercase;
}

#whatis a {
    text-decoration: none;
    font-size: 16pt;
}

#info {
    display: none;
    padding: 0.5em;
    margin-bottom: 24px;
    font-size: 12pt;
}

#info table {
    width: 100%;
    table-layout: fixed;
}

#info table tr:nth-child(1) {
    text-align: center;
}
#info table tr:nth-child(2) {
    text-align: left;
}

#info td {
    padding: 0 1em;
}

header {
    text-transform: lowercase;
    position: relative;
}

#logo {
    position: absolute;
    z-index: 1;
    top: -24px;
    left: 0.85em;
    width: 160px;
    height: 160px;
    border-radius: 0.85em;
    box-shadow: 2pt 2pt 5pt black;
    background: url(../images/logo.png), #ff7560;
    background: url(../images/logo.png), -moz-linear-gradient(top, #ff937a, #ff5847);
    background: url(../images/logo.png), -webkit-linear-gradient(top, #ff937a, #ff5847);
    background: url(../images/logo.png), -o-linear-gradient(top, #ff937a, #ff5847);
    background: url(../images/logo.png), linear-gradient(to bottom, #ff937a, #ff5847);
    background-image: -webkit-image-set(url(../images/logo.png) 1x, url(../images/logo@2x.png) 2x),
                -webkit-linear-gradient(top, #ff937a, #ff5847);
}

#logo img {
    position: absolute;
}

@media (max-width: 550px) {
    #logo {
        display: none;
    }
}

h1 {
    position: relative;
    background-color: #444;
    color: white;
    text-align: right;
    margin: 0 -10px;
    padding-right: 30px;
    font-family: 'Overlock', sans-serif;
    font-size: 48pt;
    box-shadow: 1pt 1pt 4pt black;
    text-shadow: 2pt 2pt 3pt #666, -2pt -2pt 3pt #222;
}
